Storing information using variables
Computers are useful for two purposes: storing information (also known as data) and performing operations on stored data. While working with a programming language such as Python, data is stored in variables. You can think of variables are containers for storing data. The data stored within a variable is called its value.

In [92]:
my_favorite_color ='blue'
my_favorite_color

'blue'

In [93]:
color1, color2, color3 = 'red', 'green', 'yellow'

In [94]:
color1

'red'

In [95]:
color2

'green'

In [96]:
color3

'yellow'

You can assign the same value to multiple variables by chaining multiple assignment operations within a single statement.

In [97]:
color4 = color5 = color6 = 'magenta'

In [98]:
color4

'magenta'

In [99]:
color5

'magenta'

In [100]:
color6

'magenta'

You can change the value stored within a variable by assigning a new value to it using another assignment statement. Be careful while reassigning variables: when you assign a new value to the variable, the old value is lost and no longer accessible.

In [101]:
my_favorite_color = 'red'
my_favorite_color

'red'

In [102]:
my_favorite_color = 'blue'
my_favorite_color

'blue'

While reassigning a variable, you can also use the variable's previous value to compute the new value.

In [103]:
counter = 12
counter = counter+ 1
counter

13

In [104]:
counter = 12
counter += 4
counter

16

Variable names can be short (a, x, y, etc.) or descriptive ( my_favorite_color, profit_margin, the_3_musketeers, etc.). However, you must follow these rules while naming Python variables:

A variable's name must start with a letter or the underscore character _. It cannot begin with a number.
A variable name can only contain lowercase (small) or uppercase (capital) letters, digits, or underscores (a-z, A-Z, 0-9, and _).
Variable names are case-sensitive, i.e., a_variable, A_Variable, and A_VARIABLE are all different variables.
Here are some valid variable names:

In [105]:
e_variable = 26
is_today_saruday = False
my_favorite_car = 'Aston Martin'
my_two_sisters = ['odette', 'jomar']

Syntax: The syntax of a programming language refers to the rules that govern the structure of a valid instruction or statement. If a statement does not follow these rules, Python stops execution and informs you that there is a syntax error. You can think of syntax as the rules of grammar for a programming language.

In [106]:
a variable = 23
a variable

SyntaxError: invalid syntax (1928416272.py, line 1)

In [ ]:
2_sisters = ['odette', 'jomar']
2_sisters

SyntaxError: invalid decimal literal (2413859636.py, line 1)

Built-in data types in Python¶
Any data or information stored within a Python variable has a type. You can view the type of data stored within a variable using the type function.

In [ ]:
e_variable

26

In [ ]:
type(e_variable)

int

In [ ]:
is_today_saruday

False

In [ ]:
type(is_today_saruday)

bool

In [ ]:
my_favorite_car

'Aston Martin'

In [ ]:
type(my_favorite_car)

str

In [ ]:
my_two_sisters

['odette', 'jomar']

In [ ]:
type(my_two_sisters)

list

Python has several built-in data types for storing different kinds of information in variables. Following are some commonly used data types:

Integer
Float
Boolean
None
String
List
Tuple
Dictionary
Integer, float, boolean, None, and string are primitive data types because they represent a single value. Other data types like list, tuple, and dictionary are often called data structures or containers because they hold multiple pieces of data together.

Integer
Integers represent positive or negative whole numbers, from negative infinity to infinity. Note that integers should not include decimal points. Integers have the type int.

In [ ]:
current_year = 2023
current_year

2023

In [ ]:
type(current_year)

int

Float
Floats (or floating-point numbers) are numbers with a decimal point. There are no limits on the value or the number of digits before or after the decimal point. Floating-point numbers have the type float.

In [ ]:
pi = 3.141592653589793238
pi

3.141592653589793

In [ ]:
type(pi)

float

In [ ]:
another_number = 3.
another_number

3.0

In [ ]:
type(another_number)

float

Floating point numbers can also be written using the scientific notation with an "e" to indicate the power of 10.

In [ ]:
one_hundredrh = 1e-2
one_hundredrh

0.01

In [ ]:
avogandro_number = 6.0221407e23
avogandro_number

6.0221407e+23

You can convert floats into integers and vice versa using the float and int functions. The operation of converting one type of value into another is called casting.

In [ ]:
float(current_year)

2023.0

In [ ]:
int(pi)

3

While performing arithmetic operations, integers are automatically converted to floats if any of the operands is a float. Also, the division operator / always returns a float, even if both operands are integers. Use the // operator if you want the result of the division to be an int.

In [ ]:
type(45 * 3.0)

float

In [ ]:
type(45 * 3)

int

In [ ]:
type(3/10)

float

In [ ]:
type(3//10)

int

Boolean¶
Booleans represent one of 2 values: True and False. Booleans have the type bool.

In [ ]:
is_today_saruday

False

In [ ]:
type(is_today_saruday)

bool

In [ ]:
cost_icebag = 1.26
is_icebag_expensive = cost_icebag >= 10
is_icebag_expensive

False

Booleans are automatically converted to ints when used in arithmetic operations. True is converted to 1 and False is converted to 0.

In [ ]:
3 + False

3

In [ ]:
3. + True

4.0

Any value in Python can be converted to a Boolean using the bool function.

Only the following values evaluate to False (they are often called falsy values):

The value False itself
The integer 0
The float 0.0
The empty value None
The empty text ""
The empty list []
The empty tuple ()
The empty dictionary {}
The empty set set()
The empty range range(0)
Everything else evaluates to True (a value that evaluates to True is often called a truthy value).

In [ ]:
bool(False)

False

In [ ]:
bool(0.0)

False

In [ ]:
bool(None)

False

In [ ]:
bool(range(0))

False

In [ ]:
bool(True), bool(1), bool(2.0), bool("hello"), bool([1,2]), bool((2,3)), bool(range(10))

(True, True, True, True, True, True, True)

None
The None type includes a single value None, used to indicate the absence of a value. None has the type NoneType. It is often used to declare a variable whose value may be assigned later.

In [ ]:
nothing = None
nothing

In [ ]:
type(nothing)

NoneType

String
A string is used to represent text (a string of characters) in Python. Strings must be surrounded using quotations (either the single quote ' or the double quote "). Strings have the type string.

In [ ]:
today = 'thursday'
today

'thursday'

In [ ]:
type(today)

str

To use a double quote within a string written with double quotes, escape the inner quotes by prefixing them with the \ character.

In [ ]:
another_pun = "The first time I got a universal remote control, I thought to myself \"This changes everything\"."
another_pun

'The first time I got a universal remote control, I thought to myself "This changes everything".'

In [ ]:
print(another_pun)

The first time I got a universal remote control, I thought to myself "This changes everything".

In [ ]:
multiline_string = """a
b"""
multiline_string

'a\nb'

In [ ]:
len(multiline_string)

3

In [ ]:
list(multiline_string)

['a', '\n', 'b']

In [ ]:
today[0]

't'

In [ ]:
today[0:2]

'th'

You can also check whether a string contains a some text using the in operator.

In [ ]:
'day'  in today

True

In [ ]:
'mun' in today

False

Methods: Methods are functions associated with data types and are accessed using the . notation e.g. variable_name.method() or "a string".method(). Methods are a powerful technique for associating common operations with values of specific data types.

The .lower(), .upper() and .capitalize() methods are used to change the case of the characters.

In [ ]:
today.lower()

'thursday'

In [ ]:
today.upper()

'THURSDAY'

In [ ]:
"monday".capitalize() # changes first character to uppercase

'Monday'

In [ ]:
another_day = today.replace('thursday', 'monday')
another_day

'monday'

The .split method splits a string into a list of strings at every occurrence of provided character(s).

In [ ]:
"Sun,Mon,Tue,Wed,Thu,Fri,Sat".split(",")

['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']

The .strip method removes whitespace characters from the beginning and end of a string.

In [ ]:
a_long_line = "       This is a long line with some space before, after,     and some space in the middle..    "
a_long_line_stripped = a_long_line.strip()
a_long_line_stripped

'This is a long line with some space before, after,     and some space in the middle..'

The `.format` method combines values of other data types, e.g., integers, floats, booleans, lists, etc. with strings. You can use `format` to construct output messages for display.

In [ ]:
# Input variables
cost_of_ice_bag = 1.25
profit_margin = .2
number_of_bags = 500

# Template for output message
output_template = """If a grocery store sells ice bags at $ {} per bag, with a profit margin of {} %, 
then the total profit it makes by selling {} ice bags is $ {}."""

print(output_template)

If a grocery store sells ice bags at $ {} per bag, with a profit margin of {} %,
then the total profit it makes by selling {} ice bags is $ {}.

In [ ]:
# Inserting values into the string
total_profit = cost_of_ice_bag * profit_margin * number_of_bags
output_message = output_template.format(cost_of_ice_bag, profit_margin*100, number_of_bags, total_profit)

print(output_message)

If a grocery store sells ice bags at $ 1.25 per bag, with a profit margin of 20.0 %,
then the total profit it makes by selling 500 ice bags is $ 125.0.

You can str to convert a value of any data type into a string.

In [ ]:
str(23)

'23'

List
A list in Python is an ordered collection of values. Lists can hold values of different data types and support operations to add, remove, and change values. Lists have the type list.

To create a list, enclose a sequence of values within square brackets [ and ], separated by commas.

In [ ]:
fruits = ['apple', 'banana', 'cherry']
fruits

['apple', 'banana', 'cherry']

Let's try creating a list containing values of different data types, including another list.

In [ ]:
a_list = [23, 'hello', None, 3.14, fruits, 3 <= 5]
a_list

[23, 'hello', None, 3.14, ['apple', 'banana', 'cherry'], True]

In [ ]:
len(fruits)

3

In [ ]:
len(a_list)

6

In [ ]:
fruits[0]

'apple'

In [ ]:
fruits[-1]

'cherry'

You can also access a range of values from the list. The result is itself a list. Let us look at some examples.

In [ ]:
a_list =[23, 'hello', None, 3.14, ['apple', 'banana', 'cherry'], True]
a_list

[23, 'hello', None, 3.14, ['apple', 'banana', 'cherry'], True]

Note that the range 2:5 includes the element at the start index 2 but does not include the element at the end index 5. So, the result has 3 values (index 2, 3, and 4).

Here are some experiments you should try out (use the empty cells below):

Try setting one or both indices of the range are larger than the size of the list, e.g., a_list[2:10]
Try setting the start index of the range to be larger than the end index, e.g., a_list[12:10]
Try leaving out the start or end index of a range, e.g., a_list[2:] or a_list[:5]
Try using negative indices for the range, e.g., a_list[-2:-5] or a_list[-5:-2] (can you explain the results?)
The flexible and interactive nature of Jupyter notebooks makes them an excellent tool for learning and experimentation. If you are new to Python, you can resolve most questions as soon as they arise simply by typing the code into a cell and executing it. Let your curiosity run wild, discover what Python is capable of and what it isn't!

In [ ]:
a_list[3:-1]

[3.14, ['apple', 'banana', 'cherry']]

In [ ]:
a_list[1:2]

['hello']

You can also change the value at a specific index within a list using the assignment operation.

In [ ]:
fruits

['apple', 'banana', 'cherry']

In [ ]:
fruits[1] = 'blueberry'
fruits

['apple', 'blueberry', 'cherry']

append method

In [ ]:
fruits.append('dates')
fruits

['apple', 'blueberry', 'cherry', 'dates', 'dates']

A new value can also be inserted at a specific index using the insert method.

In [ ]:
fruits.insert(1, 'banana')
fruits

['apple', 'banana', 'blueberry', 'cherry', 'dates', 'dates']

You can remove a value from a list using the remove method.

In [ ]:
fruits.remove('blueberry')
fruits

['apple', 'banana', 'cherry', 'dates', 'dates']

In [ ]:
fruits.pop(1)
fruits

['apple', 'cherry', 'dates', 'dates']

If no index is provided, the pop method removes the last element of the list.

In [ ]:
fruits.pop()
fruits

['apple', 'cherry', 'dates']

In [ ]:
more_fruits = fruits + ['pineapple', 'tomato', 'guava'] + ['dates', 'banana']
more_fruits

['apple', 'cherry', 'dates', 'pineapple', 'tomato', 'guava', 'dates', 'banana']

To create a copy of a list, use the copy method. Modifying the copied list does not affect the original.

In [ ]:
more_fruits_copy = more_fruits.copy()
more_fruits_copy

['apple', 'cherry', 'dates', 'pineapple', 'tomato', 'guava', 'dates', 'banana']

Following are some exercises you can try out with list methods (use the blank code cells below):

Reverse the order of elements in a list
Add the elements of one list at the end of another list
Sort a list of strings in alphabetical order
Sort a list of numbers in decreasing order

In [ ]:
more_fruits.reverse()
print('reverse list', more_fruits)

reverse list ['banana', 'dates', 'guava', 'tomato', 'pineapple', 'dates', 'cherry', 'apple']

In [ ]:
vegetable= ['tomato', 'chilli']
grenn_salad = vegetable + fruits
print(grenn_salad)

['tomato', 'chilli', 'apple', 'cherry', 'dates']

In [ ]:
grenn_salad.sort()
print(grenn_salad)

['apple', 'cherry', 'chilli', 'dates', 'tomato']

In [ ]:
s_numbers = [2,6,8,3,5,78,12,69]
s_numbers.sort()
print(s_numbers)

[2, 3, 5, 6, 8, 12, 69, 78]

In [ ]:
s_numbers.reverse()
print(s_numbers)

[78, 69, 12, 8, 6, 5, 3, 2]

Tuple
A tuple is an ordered collection of values, similar to a list. However, it is not possible to add, remove, or modify values in a tuple. A tuple is created by enclosing values within parentheses ( and ), separated by commas.

Any data structure that cannot be modified after creation is called immutable. You can think of tuples as immutable lists.

In [ ]:
data = ('number', 'text', 'binary')
data

('number', 'text', 'binary')

In [ ]:
len(data)

3

In [ ]:
type(data)

tuple

In [ ]:
data[0]

'number'

In [ ]:
data[-1]

'binary'

In [ ]:
data[0:-1]

('number', 'text')

In [ ]:
'text' in data

True

In [ ]:
miscellaneous_data = 2, 8.9,'box', 6, 'garbage', 'know data', 9
miscellaneous_data

(2, 8.9, 'box', 6, 'garbage', 'know data', 9)

In [ ]:
point = (3, 6)

In [ ]:
point_x , point_y = point

In [ ]:
point_x

3

In [ ]:
point_y

6

You can convert a list into a tuple using the tuple function, and vice versa using the list function

In [ ]:
tuple(['one', 'zero', 'three'])

('one', 'zero', 'three')

In [ ]:
list(('odette', 'jomar', 'martha'))

['odette', 'jomar', 'martha']

Tuples have just two built-in methods: count and index.

In [ ]:
miscellaneous_data

(2, 8.9, 'box', 6, 'garbage', 'know data', 9)

In [ ]:
index = miscellaneous_data.index(6)
print(index)

3

In [ ]:
print(miscellaneous_data.index('box'))

2

In [ ]:
print(miscellaneous_data.index(9))

6

In [ ]:
index = miscellaneous_data.index(6)
print(index)

3

In [ ]:
print(miscellaneous_data.index('garbage'))

4

In [ ]:
count= miscellaneous_data.count(6)
print(count)

1

In [ ]:
print(miscellaneous_data.count('garbage'))

1

In [ ]:
miscellaneous_numbers=(9,3,'number 7', 6, 9, 'number x', 0.1, 'x', 'number 6', 3, 6, 9, 'number 6')
miscellaneous_numbers

(9, 3, 'number 7', 6, 9, 'number x', 0.1, 'x', 'number 6', 3, 6, 9, 'number 6')

In [ ]:
count1= miscellaneous_numbers.count(3)
print(count1)

2

In [ ]:
print(miscellaneous_numbers.count(9))

3

In [ ]:
print(miscellaneous_numbers.count('number 6'))

2

Dictionary
A dictionary is an unordered collection of items. Each item stored in a dictionary has a key and value. You can use a key to retrieve the corresponding value from the dictionary. Dictionaries have the type dict.

Dictionaries are often used to store many pieces of information e.g. details about a person, in a single variable. Dictionaries are created by enclosing key-value pairs within braces or curly brackets { and }.

In [ ]:
n_person = {
    'name' : 'luis',
    'sex' : 'male',
    'age' : '33',
    'married' : False

}

n_person

{'name': 'luis', 'sex': 'male', 'age': '33', 'married': False}

In [ ]:
s_person = dict( 
    name = 'Odill',
    sex = 'female',
    age = 32,
    married = True
)
s_person

{'name': 'Odill', 'sex': 'female', 'age': 32, 'married': True}

In [ ]:
type(n_person)

dict

In [ ]:
type(s_person)

dict

In [ ]:
n_person['age']

'33'

In [ ]:
s_person['name']

'Odill'

If a key isn't present in the dictionary, then a KeyError is thrown.

In [ ]:
n_person['adress']

KeyError: 'adress'

You can also use the get method to access the value associated with a key.

In [ ]:
n_person.get('name')

'luis'

In [ ]:
s_person.get('married')

True

The get method also accepts a default value, returned if the key is not present in the dictionary.

In [ ]:
n_person.get('address', 'unknown')

'unknown'

You can check whether a key is present in a dictionary using the in operator.

In [ ]:
'address' in n_person

False

In [ ]:
'name' in s_person

True

You can change the value associated with a key using the assignment operator.

In [ ]:
n_person['married']

False

In [ ]:
s_person['married']

True

In [ ]:
n_person['name']

'luis'

The assignment operator can also be used to add new key-value pairs to the dictionary.

In [ ]:
n_person['address'] = '512 Romulo Beta street'

In [ ]:
n_person

{'name': 'luis',
 'sex': 'male',
 'age': '33',
 'married': False,
 'address': '512 Romulo Beta street'}

In [ ]:
s_person['work_position'] = 'costumer service'

In [ ]:
s_person

{'name': 'Odill',
 'sex': 'female',
 'age': 32,
 'married': True,
 'work_position': 'costumer service'}

To remove a key and the associated value from a dictionary, use the pop method.

In [ ]:
n_person

{'name': 'luis',
 'sex': 'male',
 'age': '33',
 'married': False,
 'address': '512 Romulo Beta street'}

In [ ]:
n_person.pop('address')

'512 Romulo Beta street'

In [ ]:
n_person

{'name': 'luis', 'sex': 'male', 'age': '33', 'married': False}

Dictionaries also provide methods to view the list of keys, values, or key-value pairs inside it.

In [ ]:
n_person.keys()

dict_keys(['name', 'sex', 'age', 'married'])

In [ ]:
s_person.keys()

dict_keys(['name', 'sex', 'age', 'married', 'work_position'])

In [ ]:
n_person.values()

dict_values(['luis', 'male', '33', False])

In [ ]:
s_person.values()

dict_values(['Odill', 'female', 32, True, 'costumer service'])

In [ ]:
n_person.items()

dict_items([('name', 'luis'), ('sex', 'male'), ('age', '33'), ('married', False)])

In [ ]:
s_person.items()

dict_items([('name', 'Odill'), ('sex', 'female'), ('age', 32), ('married', True), ('work_position', 'costumer service')])

In [ ]:
n_person.items()[1]

TypeError: 'dict_items' object is not subscriptable

The results of keys, values, and items look like lists. However, they don't support the indexing operator [] for retrieving elements.

Can you figure out how to access an element at a specific index from these results? Try it below. Hint: Use the list function

What happens if you use the same key multiple times while creating a dictionary?

In [ ]:
n_valores = dict(
    name = 'alberth',
    name = 'joseph',
    age = 27, 
    position = 'vendor '
)

n_valores

SyntaxError: keyword argument repeated: name (3126035911.py, line 1)

How can you create a copy of a dictionary (modifying the copy should not change the original)?

In [ ]:
n_person

{'name': 'luis', 'sex': 'male', 'age': '33', 'married': False}

In [ ]:
copy_n_person = n_person.copy()
print(copy_n_person)

{'name': 'luis', 'sex': 'male', 'age': '33', 'married': False}

In [ ]:
print(n_person)

{'name': 'luis', 'sex': 'male', 'age': '33', 'married': False}

Can the value associated with a key itself be a dictionary?
A dictionary or a list cannot be a key. Values, on the other hand, can literally be anything and they can be used more than once.

In [ ]:
n_person

{'name': 'luis', 'sex': 'male', 'age': '33', 'married': False}

In [ ]:
married = {
    'sophia' : ' is married',
    'carlar' : 'is single',
    'Roberth' : 'is married'
}

married

{'sophia': ' is married', 'carlar': 'is single', 'Roberth': 'is married'}

How can you add the key-value pairs from one dictionary into another dictionary?

In [ ]:
n_person

{'name': 'luis', 'sex': 'male', 'age': '33', 'married': False}

In [ ]:
n_person['address'] = 'Tobert pastoriza # 23'
n_person

{'name': 'luis',
 'sex': 'male',
 'age': '33',
 'married': False,
 'address': 'Tobert pastoriza # 23'}

In [ ]:
n_person.pop('address')

'Tobert pastoriza # 23'

In [ ]:
n_person

{'name': 'luis', 'sex': 'male', 'age': '33', 'married': False}

using update method

In [ ]:
n_person.update({'address' : 'Romulo Baz av. # 12'})
print(n_person)

{'name': 'luis', 'sex': 'male', 'age': '33', 'married': False, 'address': 'Romulo Baz av. # 12'}

In [ ]:
#creating a new dictionary
know_persons= dict(
    data1 = ' R.. Pastoryza',
    data2 = 49,
    data3 = 'Sarazota av. # 26'
)
know_persons

{'data1': ' R.. Pastoryza', 'data2': 49, 'data3': 'Sarazota av. # 26'}

Adding to a Dictionary Using the update() Method

In [ ]:
s_person.update(know_persons)
print(s_person)

{'name': 'Odill', 'sex': 'female', 'age': 32, 'married': True, 'work_position': 'costumer service', 'data1': ' R.. Pastoryza', 'data2': 49, 'data3': 'Sarazota av. # 26'}

In [ ]:
s_person

{'name': 'Odill',
 'sex': 'female',
 'age': 32,
 'married': True,
 'work_position': 'costumer service',
 'data1': ' R.. Pastoryza',
 'data2': 49,
 'data3': 'Sarazota av. # 26'}

Can the dictionary's keys be something other than a string, e.g., a number, boolean, list, etc.

A dictionary key must be of a type that is immutable. For example, you can use an integer, float, string, or Boolean as a dictionary key. However, neither a list nor another dictionary can serve as a dictionary key, because lists and dictionaries are mutable.